.navbar {
    width: max-content;
}

.navbar_head {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    align-items: center;
    width: 63.5%;
}

.logo_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.3rem;
    border-radius: 100%;
    margin-left: 2.5rem;
    margin-bottom: 0.4rem;
}

.logo_div img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.nav_list {
    display: flex;
    justify-content: center;
}

.navbar_head h3 {
    margin: 40px 0 0;
}

.navbar_head ul {
    list-style-type: none;
    padding: 0;
}

.navbar_head li {
    display: inline-block;
    margin-left: 4rem;
}

.navbar_head a {
    text-decoration: none;
    /* color: #42b983; */
    color: #5e626e;
}

.navbar_head a:hover {
    /* color: #fd0038; */
    color: var(--pinkish-red);
}